mat-toolbar {
  background-color: rgb(2, 188, 245);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
}

.example-button-row {
  display: table-cell;
  width: 600px;
  padding-left: 50px;
}

a {
  font-size: 70%;
}

.fit-picture {
  width: 5%;
  height: 150%;
}
